.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.tools/
build/
coverage/
*.log
.idea/
.vscode/
*.iml
android/.gradle/
android/local.properties
ios/Pods/
macos/Pods/
web/.last_build_id
data/*.db
data/*.db-shm
data/*.db-wal
